body{
    padding:12px;
    background-image:url(../images/LaJolla.jpg);
    background-size:100%;
}
header{

}
sidebar{

}
main{


}
footer{
background-color:rgb(83, 83, 161);
color:white;
border:solid;
height:200px;

}
#title{
    font-size:25px;
    margin-top:15px;
    text-align:center;

}
#contact{
    margin-top: 25px;
    text-align:center;
    margin-bottom: 5px;
}
#copy{
    margin-top: 25px;
    text-align:center;

}