header{
    opacity: 0.7;
    height:70px;
}
.nav-wrapper{
    border:solid;
    background-color:rgb(30, 184, 176);
}
body{
    text-shadow: 2px 2px navy;
    padding-top:30px;
    padding-left:12px;
    padding-right:12px;
    background-image:url(../images/LaJolla.jpg);
    background-size:100%;
    color:white;
    font-family:serif;
}
main{
    overflow:auto;
    height:456px;;
    margin-left:200px;
    margin-right:200px;
    text-align:center;
}
footer{
opacity: 0.8;
clear:both;
margin-top:53px;
align-content: center;
background-color:rgb(30, 184, 176);
color:white;
border:solid;
padding-top: 30px;
padding-left:823px;
height:150px;
font-size:13pt;

}
title{
    font-size:25px;
    margin-top:15px;
    text-align:center;

}
#contact{
    color: white;   
    margin-top: 25px;
    text-align:center;
    margin-bottom: 5px;
}
#copy{
    margin-top: 25px;
    text-align:center;

}
.z-depth-3{
    border-radius:15px;
    margin-right:35px;
    height: auto;
}
#contactBody{
    background-image:url("../images/coronadoBridge.jpg");
    background-size:100%;
    color: white;
    height: 500px;
}  
#contact{
    background-color:rgb(30, 184, 176);
}
.z-depth-4{
    border-radius:15px;
    width: 250px;
}   
.z-depth-5{
    border-radius:15px;
    width: 250px;
    background-color:rgb(30, 184, 176);
    opacity:0.9;
    color:white;
}
.brand-logo{
    margin-left: 193px;
    
}
.liSt{
    margin-right:7px;
    border-radius:15px;
}
.row{
    height:1200px;
    width:600px;
}
.collapsible-header{
    background-color:rgb(26, 103, 122);
    opacity:0.5;
    /* background-image:url(../images/sand.jpg); */
    /* background-size:100%; */
}
#yelpclick{
    background-color:rgb(30, 184, 176);
    border-radius:15px;
}
#classCard1{
    margin-left:216px;
    float:left;
    height:403px;
    width:363px;
}
#classCard2{
    margin-left:10px;
    float:left;
    height:403px;
    width: 363px;
}
#classCard3{
    margin-left:10px;
    float:left;
    height:403px;
    width:363px;
}
iframe{
    margin:23px;
}
.ytube{
    float:left;
}
.card-content{
    background-color:black;
}
.responsive-img{
    background-color:black;
}
