body{
border:solid;

}
header{
border:solid;

}
sidebar{
border:solid;

}
main{
border:solid;

}
footer{
background-color:rgb(83, 83, 161);
color:white;
border:solid;
height:200px;

}
#contact{
    padding-top:100px;
    text-align:center;
    float:right;
    width:50%;
}
#copy{
    padding-top:100px;
    text-align:center;
    float:left;
    width:50%;
}